<li class="control-group nested-fields">
  <div class="controls">
    <%= f.label :content, "Ingredient Text (including Amount):" %>
    <%= f.text_field :content %>

	<%= f.label :name, "Ingredient Name" %> 
    <%= f.fields_for :ingredients do |ingredient| %>
      <%= ingredient.collection_select :ingredient_id, Ingredient.find(:all),
       :id, :name, :prompt => "Select an Ingredient" %>
    <% end %>
 
    <%= link_to_remove_association "Remove", f %>
  </div>
</li>