<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :query, "Enter Your Ingredients", :id=>"enter" %><br />
    <%= f.text_field :query, :size=>"100", :width=>"100" %>
  </div>
  <!--
  <script type = "text/javascript">
  $(document).ready(function() {
  console.log("ready");
  var temp = $('#search_query');
  var index = 0; 
  temp.keyup(function(){
    var sign = temp.val();
    if (sign.charAt(sign.length-1)==','){
      var l = sign.length;
      console.log("end index:"+l);
      console.log("start index:"+index);
      var ingredient = sign.substring(index,(l-1));
      </script> -->
 
   <%#  <%= link_to_remote, 'Search', :url=>{:controller=>'searches_controller', :action=>'check_ingredients'}, :with=> "'ingredient='+ingredient" %> 

      <!--<script>
      index += ingredient.length+1; 
      console.log(ingredient);
    }
    });
  });
  </script>-->
  <div class="actions" >
    <%= f.submit "Find Recipes", :class=>"button" %>

  </div>
<% end %>
