<%= render 'form' %>
<p id="notice"><%= notice %></p>

<p>
	
</p>


<p>
  <b>Query:</b>
  <%= @search.ingredients %>
</p>
<p>
	<b>Results:</b>
	<%= @recipes %>
</p>

<%= link_to 'Back', searches_path %>
